@import 'src/variables';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Noto+Sans:wght@600&display=swap');

.header {
  background-color: $white;
  padding: 10px;
}

.logo {
  width: 36px;
  height: 36px;
  border-radius: 5px;
}

.header-text {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
}

.right-section {
  border: 1px dashed;
  padding: 5px;
  border-radius: 5px;
  background-color: $header-date-time-bg-color;
}
