/* You can add global styles to this file, and also import other style files */

// One of these: this import || in angular.json --> styles: "node_modules/primeng/resources/themes/mdc-light-deeppurple/theme.css",
// @import 'primeng/resources/themes/mdc-light-deeppurple/theme.css';

@import 'src/variables';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Noto+Sans:wght@600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;

  background-color: $bg-color;
  color: $main-color;

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 98% 50%;
  }
}


.d-flex {
  display: flex;
  align-items: center;
}

.sp-btw {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-50 {
  height: 50%;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-100 {
  margin-top: 100px;
}

.custom-font {
  font-family: 'Dancing Script', cursive;
  // font-family: 'Noto Sans', sans-serif;
}

.fs-1-5 {
  font-size: 1.5rem;
}

.underline {
  text-decoration: underline;
}

.border-bottom {
  border-bottom: 1px dashed;
}

.hov {

  &:hover {
    cursor: pointer;
  }
}
