<div class="page-frame">

  <div class="book-container-wrapper mt-100">
    <div class="container w-50 h-50 mb-20">
      <div class="flip-book" id="demoBookExample" #demoBookExample>
          <div class="page page-cover page-cover-top" data-density="hard">
              <div class="page-content">
                  <h2 class="custom-font">{{ bookTitle }}</h2>
              </div>
          </div>
          <div class="page">
              <div class="page-content">
                  <h2 class="page-header">Page header 1</h2>
                  <div class="page-image" style="background-image: url(images/html/1.jpg)"></div>
                  <div class="page-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus mollis nibh, non convallis ex convallis eu. Suspendisse potenti. Aenean vitae pellentesque erat. Integer non tristique quam. Suspendisse rutrum, augue ac sollicitudin mollis, eros velit viverra metus, a venenatis tellus tellus id magna. Aliquam ac nulla rhoncus, accumsan eros sed, viverra enim. Pellentesque non justo vel nibh sollicitudin pharetra suscipit ut ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus mollis nibh, non convallis ex convallis eu. Suspendisse potenti. Aenean vitae pellentesque erat. Integer non tristique quam. Suspendisse rutrum, augue ac sollicitudin mollis, eros velit viverra metus, a venenatis tellus tellus id magna.</div>
                  <div class="page-footer">2</div>
              </div>
          </div>
          <!-- PAGES .... -->
          <div class="page">
              <div class="page-content">
                  <h2 class="page-header">Page header - 15</h2>
                  <div class="page-image" style="background-image: url(images/html/7.jpg)"></div>
                  <div class="page-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus mollis nibh, non convallis ex convallis eu. Suspendisse potenti. Aenean vitae pellentesque erat. Integer non tristique quam. Suspendisse rutrum, augue ac sollicitudin mollis, eros velit viverra metus, a venenatis tellus tellus id magna. Aliquam ac nulla rhoncus, accumsan eros sed, viverra enim. Pellentesque non justo vel nibh sollicitudin pharetra suscipit ut ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus mollis nibh, non convallis ex convallis eu. Suspendisse potenti. Aenean vitae pellentesque erat. Integer non tristique quam. Suspendisse rutrum, augue ac sollicitudin mollis, eros velit viverra metus, a venenatis tellus tellus id magna.</div>
                  <div class="page-footer">16</div>
              </div>
          </div>
          <div class="page">
              <div class="page-content">
                  <h2 class="page-header">Page header - 16</h2>
                  <div class="page-image" style="background-image: url(images/html/8.jpg)"></div>
                  <div class="page-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus mollis nibh, non convallis ex convallis eu. Suspendisse potenti. Aenean vitae pellentesque erat. Integer non tristique quam. Suspendisse rutrum, augue ac sollicitudin mollis, eros velit viverra metus, a venenatis tellus tellus id magna. Aliquam ac nulla rhoncus, accumsan eros sed, viverra enim. Pellentesque non justo vel nibh sollicitudin pharetra suscipit ut ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus mollis nibh, non convallis ex convallis eu. Suspendisse potenti. Aenean vitae pellentesque erat. Integer non tristique quam. Suspendisse rutrum, augue ac sollicitudin mollis, eros velit viverra metus, a venenatis tellus tellus id magna.</div>
                  <div class="page-footer">17</div>
              </div>
          </div>
          <div class="page page-cover page-cover-bottom" data-density="hard">
              <div class="page-content">
                  <h2>THE END</h2>
              </div>
          </div>
      </div>
    </div>

    <div class="container">
      <div class="mb-10 d-flex">
          <p-button label="Previous page" class="btn-prev mr-5" (click)="handleFlip(flipType.PREV)"></p-button>
          <div class="mr-5">
            [<span class="page-current">{{ pageConfig.pageCurrent }}</span> of <span class="page-total">{{ pageConfig.pageTotal }}</span>]
          </div>
          <p-button label="Next page" class="btn-next" (click)="handleFlip(flipType.NEXT)"></p-button>
      </div>

      <div>
          State: <i class="page-state">{{ pageConfig.pageState }}</i>, orientation: <i class="page-orientation">{{ pageConfig.pageOrientation }}</i>
      </div>
    </div>
  </div>

</div>
