<div class="page-frame">

  <div class="book-container-wrapper mt-100">
    <div class="container w-50 h-50 mb-20">
      <div class="flip-book" id="demoBookExample" #demoBookExample>
          <div class="page page-cover page-cover-top" data-density="hard">
              <div class="page-content">
                  <h2 class="custom-font">{{ bookTitle }}</h2>
              </div>
          </div>
          <div class="page">
            <div class="page-content">
                <h2 class="page-header">Page header {{ 'For you and for me and for all...' }}</h2>
                <div class="page-image" style="background-image: url(assets/logo.jpg)"></div>
                <div class="page-text">{{ bookTitle }}</div>
                <div class="page-footer">{{ '' }}</div>
            </div>
          </div>
          <!-- PAGES .... -->
          <ng-container *ngFor="let poetry of poetryList; index as i">
            <div class="page">
              <div class="page-content">
                  <h2 class="page-header icon-h2-wrapper">
                    <img src="assets/vintage.jpeg" alt="page-number-wrapper-icon" class="page-icon">
                    <div class="page-number custom-font">{{ i + 1 }}</div>
                  </h2>
                  <div class="page-image" style="background-image: url(assets/logo.jpg)"></div>
                  <div class="page-text" [innerHTML]="poetry.content"></div>
                  <div class="page-footer">{{ +poetry.id + 1 }}</div>
              </div>
            </div>
          </ng-container>
          <div class="page page-cover page-cover-bottom" data-density="hard">
              <div class="page-content">
                  <h2>THE END</h2>
              </div>
          </div>
      </div>
    </div>

    <div class="container">
      <div class="mb-10 d-flex">
          <p-button label="Previous page" class="btn-prev mr-5" (click)="handleFlip(flipType.PREV)"></p-button>
          <div class="mr-5">
            [<span class="page-current">{{ pageConfig.pageCurrent }}</span> of <span class="page-total">{{ pageConfig.pageTotal }}</span>]
          </div>
          <p-button label="Next page" class="btn-next" (click)="handleFlip(flipType.NEXT)"></p-button>
      </div>

      <div>
          State: <i class="page-state">{{ pageConfig.pageState }}</i>, orientation: <i class="page-orientation">{{ pageConfig.pageOrientation }}</i>
      </div>
    </div>
  </div>

</div>
